<div class="container-fluid header header-square">
   <div class="container d-flex flex-column align-items-center">
      <div class="row px-5">
         <h5>Choisi la plante que tu souhaites avoir dans ton jardin</h5>
      </div>
      <div class="header-icon"> 
         <%= image_tag ('illus-tool-4.svg'), class:"header-icon-image" %>
      </div>
   </div>
</div>

<div class="container mt-4 pt-5">
   <p>Liste des plantes par ordre alphabétique</p>
   <% @plants.each do |plant|  %>
   <div class="card-product">
      <% if File.file? "#{Rails.root}/app/assets/images/#{plant.image}.jpg" %>
      <%= image_tag ("#{plant.image}.jpg") %>
      <% elsif File.file? "#{Rails.root}/app/assets/images/#{plant.image}.png" %>
      <%= image_tag ("#{plant.image}.png") %>
      <% end %>
      <div class="card-product-infos">
         <h2><%= plant.name %></h2>
         <p>Product description with <strong>relevant info</strong> only.</p>
      </div>
   </div>
   <% end %>
</div>