// Define variables for your color scheme

// Valeurs de gris

$white:    #FAFCFF !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #2d3a35 !default;
$black:    #271812 !default;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
) !default;

// Couleurs Merlin ✨

$blue:    #C3D6DA !default;
$purple:  #5E2BFF !default;
$pink:    #FF5E5B !default;
$red:     #C4876F !default;
$orange:  #ED6A5A !default;
$yellow:  #FFBF37 !default;
$green:   #2B8C69 !default;
$teal:    #E1E9DC !default;
$cyan:    #89A6FB !default;
$green-darker:   #315642 !default;


$colors: (
  "blue":       $blue,
  "purple":     $purple,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "green":      $green,
  "green-darker":      $green-darker,
  "teal":       $teal,
  "cyan":       $cyan,
  "white":      $white,
  "gray":       $gray-600,
  "gray-dark":  $gray-800
) !default;

$green-100: #D0EBDC !default;
$green-200: #b1d8c2 !default;
$green-300: tint-color($green, 40%) !default;
$green-400: tint-color($green, 20%) !default;
$green-500: $green !default;
$green-600: shade-color($green, 20%) !default;
$green-700: shade-color($green, 40%) !default;
$green-800: shade-color($green, 60%) !default;
$green-900: shade-color($green, 80%) !default;


// Bootstrap variables Theme

$primary:       $green !default;
$secondary:     $cyan !default;
$success:       $green !default;
$info:          $blue !default;
$warning:       $green-100 !default;
$danger:        $orange !default;
$light:         $gray-100 !default;
$dark:          $green-darker !default;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
) !default;


$component-active-color:      $white !default;
$component-active-bg:         $primary !default;