<h1>plante.nom</h1>

<p>Boutton : flèche droite pour aller à la plante suivante du jardin</p>
<p>Boutton : flèche gauche pour aller à la plante précèdente du jardin</p>

<h2>Design rond en fonction de la date et la progession</h2>
<h3>Afficher la date de plantation</h3>

<h2>Ma To Do List</h2>
<h3>Liste des tasks pour cette plante </h3>

<h2>Boutton : Aller vers index garden</h2>
