<h1> liste des gardens</h1>

<p>Ajouter API pour le climat</p>

<% @gardens.each do |garden| %>
  <%#= garden ajouter les images de plantes %>
  <%#= Ajouter tous les squares du garden en question avec les img correspondantes %>
  <%= link_to "option d'éditer chaque garden", garden_path(garden) %>
<% end %>

<%= link_to("Option de créer un nouveau garden", new_garden_path) %>

<h3>Facultatif : card pour météo</h3>
<h3>Facultatif : card pour "Le saviez-vous?"</h3>
