<p> coucou </p>

<%= link_to(new_garden_path) do %>
  <div class="d-flex justify-content-center mb-2">
    <button class="btn btn-primary"><i class="fas fa-plus"></i> Créer un nouveau jardin </button>
  </div>
<% end %>