<h1>Commencez par dessiner votre espace disponible...</h1>

<h2>Hauteur</h2>
<h2>Largeur</h2>

<h1>... puis mesurez la largeur et la longueur en pieds</h1>

<h2>votre pointure</h2>

<h2>Boutton : Partagez votre géolocalisation</h2>

<h2>Boutton : Valider</h2>

