.landing.app-name {
    width: fit-content;
    height: auto;
}

.landing-blob {
    opacity: .7;
    z-index: -1;
    position: relative;
    left: 70px;
    top: 90px;
    height: 300px;

}

.landing-logo {
    position: absolute;
    left: auto;
    right: auto;
}
