.square {
    $square-size: 50px;
    width: $square-size;
    min-width: $square-size;
    height: $square-size; 
    min-height: $square-size; 
    left: 25.18px;
    top: 203.46px;
    border-radius: 3px;
    background: #C5D3B4;
}
