.square {
    $square-size: 60px;

    width: $square-size;
    min-width: $square-size;
    height: $square-size; 
    min-height: $square-size; 

    border: 1.5px $green solid;
    border-radius: 3px;

    background: $teal;
}

.square-full{
    background: $green-100 ;
    mix-blend-mode: multiply;
}
